<div class="court-container" id="court-area">

    <!-- Сетка площадки -->
    <div class="net-label"># # # # # Сетка # # # # #</div>

    <div class="court-layout">
        <!-- Ряд у сетки -->
        <div class="net-zone" data-zone="4" id="zone-4">
            <div class="action-row">
                <div class="action-field attack-plus">Удар +</div>
                <div class="action-field attack">Удар</div>
                <div class="action-field attack-minus">Удар -</div>
            </div>
            <div class="action-row">
                <div class="action-field block-plus">Блок +</div>
                <div class="action-field block">Блок</div>
                <div class="action-field block-minus">Блок -</div>
            </div>
            <div class="action-row">
                <div class="action-field pass">Пас</div>
                <div class="action-field defense">Защита</div>
                <div class="action-field touch-minus">Касание -</div>
            </div>
            <div class="receive-row">
                <div class="action-field receive-plus receive-field">Прием +</div>
                <div class="action-field receive-minus receive-field">Прием -</div>
            </div>
            <div class="player-field empty zone-button"
                 id="player-4"
                 data-zone="4"
                 data-player-number="{{ session['match_data']['starting_lineup'].get('pos_4', {}).get('number', '') }}"
                 onclick="openSubstitutionModal(this)">
                {{ session['match_data']['starting_lineup'].get('pos_4', {}).get('name', 'Зона 4') }}
            </div>
        </div>

        <div class="net-zone" data-zone="3" id="zone-3">
            <div class="action-row">
                <div class="action-field attack-plus">Удар +</div>
                <div class="action-field attack">Удар</div>
                <div class="action-field attack-minus">Удар -</div>
            </div>
            <div class="action-row">
                <div class="action-field block-plus">Блок +</div>
                <div class="action-field block">Блок</div>
                <div class="action-field block-minus">Блок -</div>
            </div>
            <div class="action-row">
                <div class="action-field pass">Пас</div>
                <div class="action-field defense">Защита</div>
                <div class="action-field touch-minus">Касание -</div>
            </div>
            <div class="receive-row">
                <div class="action-field receive-plus receive-field">Прием +</div>
                <div class="action-field receive-minus receive-field">Прием -</div>
            </div>
            <div class="player-field empty zone-button"
                 id="player-3"
                 data-zone="3"
                 data-player-number="{{ session['match_data']['starting_lineup'].get('pos_3', {}).get('number', '') }}"
                 onclick="openSubstitutionModal(this)">
                {{ session['match_data']['starting_lineup'].get('pos_3', {}).get('name', 'Зона 3') }}
            </div>
        </div>

        <div class="net-zone" data-zone="2" id="zone-2">
            <div class="action-row">
                <div class="action-field attack-plus">Удар +</div>
                <div class="action-field attack">Удар</div>
                <div class="action-field attack-minus">Удар -</div>
            </div>
            <div class="action-row">
                <div class="action-field block-plus">Блок +</div>
                <div class="action-field block">Блок</div>
                <div class="action-field block-minus">Блок -</div>
            </div>
            <div class="action-row">
                <div class="action-field pass">Пас</div>
                <div class="action-field defense">Защита</div>
                <div class="action-field touch-minus">Касание -</div>
            </div>
            <div class="receive-row">
                <div class="action-field receive-plus receive-field">Прием +</div>
                <div class="action-field receive-minus receive-field">Прием -</div>
            </div>
            <div class="player-field empty zone-button"
                 id="player-2"
                 data-zone="2"
                 data-player-number="{{ session['match_data']['starting_lineup'].get('pos_2', {}).get('number', '') }}"
                 onclick="openSubstitutionModal(this)">
                {{ session['match_data']['starting_lineup'].get('pos_2', {}).get('name', 'Зона 2') }}
            </div>
        </div>

        <!-- Ряд у подачи -->
        <div class="back-zone" data-zone="5" id="zone-5">
            <div class="action-row">
                <div class="action-field attack-plus">Удар +</div>
                <div class="action-field attack">Удар</div>
                <div class="action-field attack-minus">Удар -</div>
            </div>
            <div class="action-row">
                <div class="action-field pass">Пас</div>
                <div class="action-field defense">Защита</div>
                <div class="action-field touch-minus">Касание -</div>
            </div>
            <div class="receive-row">
                <div class="action-field receive-plus receive-field">Прием +</div>
                <div class="action-field receive-minus receive-field">Прием -</div>
            </div>
            <div class="player-field empty zone-button"
                 id="player-5"
                 data-zone="5"
                 data-player-number="{{ session['match_data']['starting_lineup'].get('pos_5', {}).get('number', '') }}"
                 onclick="openSubstitutionModal(this)">
                {{ session['match_data']['starting_lineup'].get('pos_5', {}).get('name', 'Зона 5') }}
            </div>
        </div>

        <div class="back-zone" data-zone="6" id="zone-6">
            <div class="action-row">
                <div class="action-field attack-plus">Удар +</div>
                <div class="action-field attack">Удар</div>
                <div class="action-field attack-minus">Удар -</div>
            </div>
            <div class="action-row">
                <div class="action-field pass">Пас</div>
                <div class="action-field defense">Защита</div>
                <div class="action-field touch-minus">Касание -</div>
            </div>
            <div class="receive-row">
                <div class="action-field receive-plus receive-field">Прием +</div>
                <div class="action-field receive-minus receive-field">Прием -</div>
            </div>
            <div class="player-field empty zone-button"
                 id="player-6"
                 data-zone="6"
                 data-player-number="{{ session['match_data']['starting_lineup'].get('pos_6', {}).get('number', '') }}"
                 onclick="openSubstitutionModal(this)">
                {{ session['match_data']['starting_lineup'].get('pos_6', {}).get('name', 'Зона 6') }}
            </div>
        </div>

        <div class="back-zone" data-zone="1" id="zone-1">
            <div class="action-row">
                <div class="action-field attack-plus">Удар +</div>
                <div class="action-field attack">Удар</div>
                <div class="action-field attack-minus">Удар -</div>
            </div>
            <div class="action-row">
                <div class="action-field pass">Пас</div>
                <div class="action-field defense">Защита</div>
                <div class="action-field touch-minus">Касание -</div>
            </div>
            <div class="receive-row">
                <div class="action-field receive-plus receive-field">Прием +</div>
                <div class="action-field receive-minus receive-field">Прием -</div>
            </div>
            <!-- Блок подачи будет добавляться динамически через JS -->
            <div class="player-field zone-button"
                 id="player-1"
                 data-zone="1"
                 data-player-number="{{ session['match_data']['starting_lineup'].get('pos_1', {}).get('number', '') }}"
                 onclick="openSubstitutionModal(this)">
                {{ session['match_data']['starting_lineup'].get('pos_1', {}).get('name', 'Зона 1') }}
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для замен -->
<div id="substitution-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Выберите игрока для замены</h2>
        <div class="substitute-players-list" id="substitute-players">
            <!-- Список запасных будет заполняться JavaScript -->
        </div>
    </div>
</div>


<div id="attack-modal" class="modal">
    <div class="modal-content attack-modal-content">
        <span class="close">&times;</span>
        <h2>Дополнительные действия для атаки</h2>
        <div class="attack-buttons-container">
            <button class="attack-option-btn" id="attack-cross">По диагонали</button>
            <button class="attack-option-btn" id="attack-line">По линии</button>
            <button class="attack-option-btn" id="attack-tip">Скидка</button>
            <button class="attack-option-btn" id="attack-block-out">В аут с блока</button>
        </div>
    </div>
</div>